.quote {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.quote span {
    margin: 10px 0px;
    text-align: center ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0.8;
} 

